@import url("https://fonts.googleapis.com/css2?family=Liu+Jian+Mao+Cao&family=Love+Light&family=Quando&family=Noto+Music&family=Noto+Sans+Anatolian+Hieroglyphs&family=Rubik+Marker+Hatch&family=Train+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Reset --- */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    user-select: none; /* ezt lehet néhány helyen majd felül kell írni */
}

html {
    /*overflow-x: hidden;*/
    scroll-behavior: smooth;
    scroll-padding-top: 10rem; /* ezt még le kell tesztelni*/
    color-scheme: dark light;
}

body {
    font-family:
        sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue";
}

img,
video,
iframe,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

/* --- Scrollbar --- */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 33%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 11%);
}

/* Css, amit nem sikerült hozzáadni Tailwind-del*/

.text-wrap-balance {
    text-wrap: balance;
}

#page-full-height-setter {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex-grow: 1;
}

/* Tailwind classes */

.cult {
    @apply mb-cultSmallScreenMarginBottom flex max-w-cultSmallScreenMaxWidth flex-col items-center justify-center rounded-[3rem] opacity-0 duration-500 ease-in-out goddessChange:mb-0 goddessChange:max-w-cultMaxWidth;
}

.cult-subheader {
    @apply m-cultSubHeadingMargin whitespace-nowrap text-center font-fontWriting text-cultSubHeaderSmallScreenFontSize dark:text-darkModePrimaryColor goddessChange:text-cultSubHeaderFontSize;
}

.cult-paragraph {
    @apply m-cultSubHeadingMargin whitespace-nowrap text-center font-fontWriting text-cultSubHeaderSmallScreenFontSize dark:text-darkModePrimaryColor goddessChange:text-cultParagraphFontSize;
}
